<ion-view>

  <ion-header-bar>
  <h1 class="title">สมัคใช้งาน</h1>
</ion-header-bar>

  <ion-content id="ppp">

    <div class="list list-inset card">

     <label class="item item-input item-stacked-label">
        <span class="input-label">ชื่อ</span>
        <input type="text" placeholder="เจริญดี">
      </label>

      <label class="item item-input item-stacked-label">
         <span class="input-label">นามสกุล</span>
         <input type="text" placeholder="ดีมาก">
       </label>

       <label class="item item-input item-stacked-label">
          <span class="input-label">ชื่อผู้ใช้</span>
          <input type="text" placeholder="รหัสนักศึกษา_ชื่อนักศึกษา">
        </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">รหัสผ่าน</span>
        <input type="password" placeholder="xxxxxx 6 ตัว">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">ยืนยันรหัสผ่าน</span>
        <input type="password" placeholder="ยืนยันรหัสผ่านอีกครั้ง">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">รหัสนักศึกษา</span>
        <input type="text" placeholder="เช่น 56030xxx">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">สาขาวิชา</span>
        <input type="text" placeholder="เช่น ครุศาสตร์วิศวกรรม ครุศาสตร์เกษตร  ">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">แขนงวิชา</span>
        <input type="text" placeholder="เช่น ครุศาสตร์วิศวกรรมคอมฯ ">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">คณะ</span>
        <input type="text" placeholder="เช่น ครุศาสตรอุตสาหกรรม วิศวกรรม">
      </label>

    </div>
     <button class="button button1">สมัครใช้งาน</button>
     <button class="button button3" ng-click="btnBack()">กลับ</button>
  </ion-content>
</ion-view>
